*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}

.yazi{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;
}

.yazi1{
    background-color: darkcyan;
    transform: rotatex(180deg);
}
.yazi1:active + .yazi2 {
    background-color: gold;
}

.yazi2{
    background-color: skyblue;
    transform: rotateY(180deg);
}



.yazi3{
    background-color: red;
   
}

.yazi3:active {
     /* transform-origin: right; */
     transform: rotate(30deg) scale(1.5);
     position: relative;
     z-index: 2;
     /* transform-origin: 20%; */
}

.yazi4{
    background-color: fuchsia;
    transform: scaleX(1.5);

}

.yazi5{
    background-color: olive;
    transform: scaleY(2);
}

.yazi6{
    background-color: darkgoldenrod;
    
}

.yazi6:active {
    transform: scale(1.5);
}




.box {
    background-color: crimson;
    width: 100px;
    height: 50px;
    margin: 2px;
}

.x {
    /* transform: translateX(150px); */
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}
.x:active{
    transform: translateX(250px);
    background-color: orange;
    width: 300px;
}
.y{
    transition: all 2s ease-in-out;
}
.y:active{
    background-color: magenta;
    transform: translateY(200px);
    height: 100px;
}

.xy{
transition-property: all;
transition-duration: 2s;
}

.xy:active{
    transform: translate(100px, 50px);
    background-color: blue;
    width: 200px;
    height: 100px;
    
}

.btn-div{
    text-align: center;
}

.btn{
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    /* transition-property: background-color;
    transition-duration: 1s; */
    transition: all 200ms ease-in-out ;
}

.btn:active{
    background-color: red;
    color: white;
    transform: scale(.95);
}